@import url("http://fonts.cdnfonts.com/css/gotham-book");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("http://fonts.cdnfonts.com/css/gotham-rounded");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
* {
  font-family: 'Gotham Book', sans-serif;
}

.app-wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.text-un-dec {
  text-decoration: none !important;
}

.animate-scale-1 {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.animate-scale-1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bg-gray {
  background-color: #F5F5F5;
}

.mb-30 {
  margin-bottom: 30px;
}

header {
  width: 100%;
  padding: 40px 90px;
  border-bottom: 1px solid #a7a7a7;
}

@media (max-width: 991px) {
  header {
    padding: 40px 20px;
  }
}

@media (max-width: 950px) {
  .brand-logo {
    min-width: 110px;
  }
}

.search-form {
  width: 100%;
  max-width: 782px;
  border: 1px solid #a7a7a7;
  padding: 15px;
  border-radius: 5px;
  height: 60px;
  margin-left: 35px;
}

.search-form input {
  border: none;
  outline: none;
  width: 100%;
}

.search-form button {
  background-color: transparent;
  border: none;
  outline: none;
}

@media (max-width: 950px) {
  .search-form {
    display: none !important;
  }
}

@media (min-width: 951px) {
  .header-icons-cover {
    min-width: 190px;
  }
}

.header-icons-cover .icon {
  padding-left: 35px;
}

@media (max-width: 450px) {
  .header-icons-cover .icon {
    padding-left: 18px;
  }
  .header-icons-cover .icon img {
    max-width: 20px;
  }
}

.header-icons-cover .with-count {
  position: relative;
}

.header-icons-cover .with-count .count {
  position: absolute;
  top: -13px;
  right: -13px;
  color: #fff;
  background-color: #B79F7A;
  padding: 2px 8px;
  text-align: center;
  border-radius: 50%;
}

nav {
  padding: 30px 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

nav .app-nav {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 991px) {
  nav .app-nav {
    padding-top: 30px;
    padding-left: 0;
    width: 100%;
  }
}

nav .app-nav .nav-link {
  text-decoration: none;
  color: #000;
  font-size: 13px;
}

nav .dropdown button {
  background-color: #F8F8F8 !important;
  border: 1px solid #EFEFEF !important;
  padding: 20px;
  outline: none;
}

nav .dropdown button span {
  color: #002851;
}

nav .dropdown button svg {
  color: #000;
  margin-right: 10px;
}

nav .dropdown button::after {
  color: #000;
}

.app-menu-btn {
  margin-left: 25px;
  background-color: transparent;
  border: 1px solid #a7a7a7;
  border-radius: 2px;
}

.app-menu-btn svg {
  color: #B79F7A;
}

.app-menu-btn svg:last-child {
  display: none;
}

.app-menu-btn[aria-expanded="true"] svg:first-child {
  display: none;
}

.app-menu-btn[aria-expanded="true"] svg:last-child {
  display: initial;
}

section {
  overflow: hidden;
}

#homeCarousel .carousel-control-btn {
  margin: 0 15px;
  width: 72px;
  height: 72px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fe528c;
  border-radius: 50%;
}

@media (max-width: 991px) {
  #homeCarousel .carousel-control-btn {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 450px) {
  #homeCarousel .carousel-control-btn {
    width: 30px;
    height: 30px;
  }
  #homeCarousel .carousel-control-btn svg {
    width: 15px;
  }
}

#homeCarousel .carousel-item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 180px 0;
  padding-left: 130px;
}

@media (max-width: 991px) {
  #homeCarousel .carousel-item {
    padding-left: 65px;
    padding-right: 65px;
  }
}

#homeCarousel .carousel-caption-sec {
  max-width: 325px;
}

#homeCarousel .carousel-caption-sec h1 {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 767px) {
  #homeCarousel .carousel-caption-sec h1 {
    font-size: 30px;
  }
}

#homeCarousel .carousel-caption-sec h1::after {
  content: "";
  display: block;
  width: 35%;
  height: 3px;
  background-color: #FE528C;
  margin-top: 20px;
}

#homeCarousel .carousel-caption-sec p {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #fff;
}

@media (max-width: 767px) {
  #homeCarousel .carousel-caption-sec p {
    font-size: 14px;
  }
}

#homeCarousel .carousel-caption-sec button {
  background-color: #FE528C;
  width: 100%;
  border-radius: 0;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  border: none;
  outline: none;
  text-align: center;
  padding: 22px 15px;
  margin-top: 60px;
}

@media (max-width: 767px) {
  #homeCarousel .carousel-caption-sec button {
    margin-top: 30px;
    padding: 18px 12px;
  }
}

.main-heading {
  font-size: 40px;
  color: #4F3D2F;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main-caption {
  font-size: 16px;
  color: #44372C;
}

.category-box .image-cover {
  overflow: hidden;
  text-align: center;
}

.category-box .image-cover img {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.category-box:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.category-box .disc-cover {
  padding: 20px 15px;
  text-align: center;
}

.category-box .disc-cover h3 {
  color: #630614;
  font-size: 23px;
  font-family: 'Bellefair', serif;
}

.category-box .disc-cover p {
  font-size: 12px;
  color: #2E261F;
}

.rounded-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
}

.rounded-indicators .active {
  background-color: #fff;
}

.sm-carousel-disc {
  font-size: 17px;
  color: #302626;
  text-transform: uppercase;
  font-family: 'Gotham Rounded', sans-serif;
  margin-top: 15px;
  font-weight: 200;
}

.custom-owl-button .owl-nav button {
  position: absolute;
  top: 40%;
  z-index: 1;
  background-color: #FC4554 !important;
  margin: 0 !important;
  border-radius: 0 !important;
  opacity: .48;
  color: #fff !important;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.custom-owl-button .owl-nav button span {
  padding: 3px 5px;
}

.custom-owl-button .owl-nav button:hover {
  opacity: .7;
}

.custom-owl-button .owl-nav .owl-prev {
  left: 0;
}

.custom-owl-button .owl-nav .owl-next {
  right: 0;
}

.sm-owl-product-box .disc {
  background-color: #F89CA3;
  color: #000000;
  padding: 15px;
}

.sm-owl-product-box .disc * {
  font-family: 'Bellefair', serif;
}

.sm-owl-product-box .disc h5 {
  font-size: 18px;
}

.sm-owl-product-box .disc h6 {
  font-size: 15px;
}

.sm-owl-product-box .disc .flex-wrap {
  margin-top: 15px;
}

.sm-owl-product-box .disc .flex-wrap span {
  font-size: 15px;
}

.sm-owl-product-box .disc .flex-wrap span:first-child {
  padding-right: 25px;
}

.offer-dispaly-box {
  background-color: #FFC481;
  padding: 80px;
  padding-bottom: 130px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.offer-dispaly-box h5 {
  color: #604B3B;
  font-size: 19px;
  margin-bottom: 11px;
}

.offer-dispaly-box h2 {
  color: #604B3B;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
}

.offer-dispaly-box .with-bg h5, .offer-dispaly-box .with-bg h2 {
  color: #FFFFFF;
}

.offer-dispaly-box button {
  color: #000;
  background-color: #fff;
  padding: 12px 20px 10px 20px;
  border-radius: 15px;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

.add-banner {
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  position: relative;
}

.add-banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  top: 0;
  left: 0;
  opacity: 0;
}

@media (max-width: 991px) {
  .add-banner::after {
    opacity: .7;
  }
}

.add-banner .content {
  position: relative;
  z-index: 1;
}

.add-banner .content h1 {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  color: #00356c;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 30px;
}

.add-banner .content a {
  background-color: #00356c;
  padding: 14px 35px;
  width: 100%;
  max-width: 200px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
}

.add-banner .content a:hover {
  padding-right: 40px;
  color: #ffe3c1;
}

.product-list-row {
  margin-left: -5px;
  margin-right: -5px;
}

.product-list-row .col {
  padding: 0 5px;
}

.product-list-row a :hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product-box {
  height: 100%;
  max-width: 314px;
  margin: 0 auto;
}

.product-box .image-box {
  overflow: hidden;
}

.product-box .image-box img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.product-box .content {
  padding: 25px;
  color: #4A433D;
}

@media (max-width: 320px) {
  .product-box .content {
    padding: 15px;
  }
}

.product-box .content * {
  font-family: 'Gotham Rounded', sans-serif !important;
  font-weight: 300;
  font-size: 15px;
}

.product-box .content .price {
  margin-top: 20px;
}

.product-box .content .price span:first-child {
  padding-right: 15px;
}

.new-arivel-bg {
  position: relative;
}

.new-arivel-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 70%;
  background-image: url(../images/bg4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .new-arivel-bg img {
    margin-top: 30px;
  }
}

.new-arivel-bg h1 {
  font-family: 'Bellefair', serif;
  color: #630614;
  margin: 0;
}

.new-arivel-bg p {
  color: #604B3B;
  font-size: 25px;
  margin: 20px 0;
  font-family: 'Bellefair', serif;
}

@media (max-width: 767px) {
  .new-arivel-bg p {
    margin-top: 5px;
  }
}

.new-arivel-bg .border-elm {
  padding-left: 15px;
  margin-top: auto;
}

.new-arivel-box {
  overflow: hidden;
}

.biggest-deal-box {
  background-color: #F6F5F8;
  padding: 20px;
  padding-bottom: 40px;
  height: 100%;
}

.biggest-deal-box a {
  text-decoration: none;
}

.biggest-deal-box a:hover .img-box img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.biggest-deal-box .img-box {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 40px;
  overflow: hidden;
}

.biggest-deal-box .img-box img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.biggest-deal-box .content {
  padding-top: 20px;
}

.biggest-deal-box .content h3 {
  font-weight: bold;
  text-align: center;
  font-family: 'Gotham Rounded', sans-serif;
  color: #000;
}
/*# sourceMappingURL=style.css.map */